@page
@model ecommerce_Solutech.Pages.CRUD.ListarModel
@{
}


<a class="btn btn-primary" asp-page="./Incluir">
    Incluir novo Cliente
</a>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Telefone</td>
            <td>Email</td>
            <td>Login</td>
        </tr>
    </thead>
    <tbody>@foreach(var cliente in Model.Clientes) {
       <tr>
            <td>@cliente.Id</td>
            <td>@cliente.Nome</td>
            <td>@cliente.email</td>
            <td>@cliente.telefone</td>
            <td>@cliente.Endereco</td>
            <td>
                <a
                        asp-page="./Alterar"
                        asp-route-id="@cliente.Id"
                >
                Editar</a>
                <form
                        method="post"
                        asp-page-handler="delete"
                        asp-route-id="@cliente.Id"
                    >
                    <button class="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
    }</tbody>
</table>
