@page
@model ecommerce_Solutech.Pages.CRUD.ListarModel
@{
}
<a class="btn btn-primary" asp-page="./Incluir">
        Incluir
 </a>

<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>email</td>
            <td>telefone</td>
            <td>login</td>
            <td>senha</td>
            <td>Ações</td>
            </tr>
    </thead>
    <tbody>@foreach(var cliente in Model.Clientes){
        <tr>
            <td>@cliente.Id</td>
            <td>@cliente.Nome</td>
            <td>@cliente.email</td>
            <td>@cliente.telefone</td>
            <td>@cliente.login</td>
            <td>@cliente.HashSenha</td>
            <td>
                 <a class="btn btn-primary" asp-page="./Alterar" asp-route-id="@cliente.Id">
                    Editar
                </a>

                <form
                    method="post"
                    asp-page="./Alterar"
                    asp-page-handler="delete"
                    asp-route-id="@cliente.Id"
                    
                 >
                    <button class=" btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
    }</tbody>
   
</table>
